



h1 {
    color: black;
    font-size: 8vw;
}

a {
    color: cornsilk;
    font-size: 3vw;
}

p {
    color: cornsilk;
    font-size: 3vw;
}

body {
    background-color: blue;
}


@media only screen and (max-width: 480px) {
  /* for smaller screens*/