
header {
    text-align: center;

}

.middle {
    justify-content: space-evenly;
}

footer {
    background-color: red;
    text-align: center;
}

h1 {
    color: black;
    background-color: yellow;
    /*font-size:*/
}

a {
    color: cornsilk;
    /*font-size: */
}

p {
    color: cornsilk;
    /*font-size: */
}

body {
    background-color: blue;
    display: flex;
}


@media only screen and (max-width: 480px) {
  /* for smaller screens*/