
header {
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
}

footer {
    background-color: red;
    text-align: center;
}

h1 {
    color: black;
    background-color: yellow;
}

a {
    color: cornsilk;
}

p {
    color: cornsilk;
}

body {
    background-color: blue;
}

img {
    /*width: fit-content;*/
    max-width: 80%;
    /*height: fit-content;*/
    max-height: 80%;
}

@media only screen and (max-width: 780px) {
  /* for smaller screens*/

  .flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
  }