
header {
    width: 100%;
    float: left;
    margin: auto;
    background-color: yellow;
    text-align: center;
}

nav {
    width: 33.33%;
    float: left;
    margin: auto;
}

main {
    width: 33.33%;
    float: left;
    margin: auto;
}

aside {
    width: 33.33%;
    float: left;
    margin: auto;
}

footer {
    width: 100%;
    float: left;
    margin: auto;
    background-color: red;
    text-align: center;
}

h1 {
    color: black;
    font-size: 8vw;
}

a {
    color: cornsilk;
    font-size: 3vw;
}

p {
    color: cornsilk;
    font-size: 3vw;
}

body {
    background-color: blue;
}


@media only screen and (max-width: 480px) {
  /* for smaller screens*/
  nav {
    width: 100%;
    float: left;
    margin: auto;
}

main {
    width: 100%;
    float: left;
    margin: auto;
}

aside {
    width: 100%;
    float: left;
    margin: auto;
}
  
}